{
  "linters": {
    "*.{js,json,ts,tsx}": ["prettier --write", "git add"],
    "*.{js,jsx}": "eslint --fix",
    "*.{ts,tsx}": "tslint --fix"
  },
  "ignore": [
    "/node_modules/",
    "/public/",
    "/build/",
    "/dist/",
    "/docs/"
  ]
}
